#googleMap {
    height: 590px;
    margin: 20px 0;
    
    .container-fluid {
        
        .row {

            .col-sm-12 {

                #map {
                    height: 590px;
                    width: 100%;
                }
            }
        }
    }
}